
/* body{ */
    /* background-image: linear-gradient( #5bd2ea,#108f52); */
    /* background-image: url(../images/OIP.jpg); */

/* } */


.adminTopic{
text-align: center;
color: rgb(101, 18, 18);
font-size: 35px;
} 


table
{
width:99%;
border-collapse: separate !important;
margin:auto;
color: white;
text-align:center;
margin-top:50px;
background-color: #033559;
/* background-image: linear-gradient(#1862c3,#005f76,#2437c8);; */
border-radius: 10px 10px 0px 0px;

}
table th*
{
border-bottom:2px solid rgb(187, 187, 187);
padding:10px 0px 10px 0px;
font-family: "balsamiq_sansitalic" !important;
}
table tr td
{
border-right: 2px solid rgb(187, 187, 187);
height: 58px;
padding: 22px 0px 0px 0px;
font-family: "monospace;" !important;
border-bottom: 2px solid rgb(187, 187, 187);
font-size: 20px;
padding: 10px 0px;
}
table tr td a
{
/*background-color: rgb(255, 196, 0);*/
color: white;
border-radius: 5px;
padding: 6px;
text-decoration: none;
margin: 10px;
font-weight: 700;
}

table tr td button:hover
{

padding: 5px 5px 5px 5px;
border: 2px solid yellow;
border-radius: 7px;
background-color: red;
color: white;
cursor: pointer;
}
/* 
button 
{
padding: 5px 5px 5px 5x;
border-radius: 10px;
width: 15%;
height: 40px;
border-color: #07ce89;
margin-top: 10px;
background-color: #088450;
color: wheat;
font-size: 17px;


} */



