* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.profile-container {
    padding: 40px 0;
    background-color: #edf0f3;
    color: #434343;
    text-align: center;
}

.profile-1 {
    margin: auto;
    max-width: 1000px;
    overflow: hidden;
    padding: 0 20px;
}

.block {
    flex: 0 0 33.33%; /* Set flex basis to one-third of the container */
    max-width: 33.33%;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.row-1,
.row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust spacing between blocks */
}

.profile {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8%;
    border: 2px solid black;
    box-shadow: 10px 10px 6px rgb(71, 136, 158);
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    color: #11004a;
}

.rating {
    color: blue;
    margin-bottom: 20px;
}
